<div class="row">
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <label for="useremail">Email address</label>
        <input type="email" class="form-control" id="useremail" placeholder="Enter email">
      </div>
      <br>
      <div class="form-group">
        <label for="subscription">Subscription</label>
        <select class="form-control" id="subscription" NgModel>
          <option *ngFor="let subType of subscriptionTypes" value="subType.key">{{subType.displayValue}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="tex" class="form-control" id="password" NgModel>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>