<div class="row">
  <div class="col-md-12">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div formGroupName="projectMainData">
        <div class="form-group">
          <label for="projectName">Project Name</label>
          <input type="text" id="projectName" class="form-control" formControlName="projectName">
          <div class="alert alert-danger" *ngIf="projectName.invalid && (projectName.dirty || projectName.touched)">
            <div *ngIf="projectName.errors.required">Name is required.</div>
            <div *ngIf="projectName.errors.notAllowed">This name is not notAllowed</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Project email</label>
          <input type="email" id="email" class="form-control" formControlName="email">
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">Email is required.</div>
            <div *ngIf="email.errors.email">Email is invalid.</div>
            <div *ngIf="email.errors.emailIsInvalid">This email is not not allowed</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="projectStatus">Project Status</label>
        <select id="projectStatus" formControlName="projectStatus" class="form-control">
          <option *ngFor="let status of projectStatusList" value="{{status.key}}">{{status.displayValue}}</option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="projectForm.invalid">Submit</button>
    </form>
  </div>
</div>